@font-face {
    font-family: NexaText;
    src: url(../../Шрифты/NexaTextBook.otf);
}
@font-face {
    font-family: Nexa;
    src: url(../../Шрифты/Nexa-Heavy.ttf);
}
body{
    font-family: NexaText;
    margin: 0;
  	line-height: normal;
}
.site-telegram, .duo-partners2{
font-family: Nexa;
font-weight: 800;
}
